<div class="container">
  <%= render "helper" %>
  <div class="report_generator">
    <h1>Reports Generator</h1>
  </div>
  <%= form_with url: "report_by_category", method: :get do |form| %>
    <div class=reports>
      <div>
        <%= form.label 'Type of Operation' %><br>
        <%= form.select :type_operation, ["Spending", "Income"] %>
      </div>
      <br>
      <div>
        <%= form.label 'Category' %><br>
        <%= form.select :category_id, Category.pluck(:name,:id) %>
      </div>
      <br>
      <div>
        <%= form.label 'From' %><br>
        <%= form.datetime_field :start_date %>
      </div>
      <br>
      <div>
        <%= form.label 'To' %><br>
        <%= form.datetime_field :end_date %>
      </div>
      <br>
      <%= link_to "Home", root_path, class:"btn btn-outline-dark", class:"btn btn-warning" %>
      <%= form.submit "Report by Category", class:"btn btn-success" %>
      <input type="reset" value="Clear" class="btn btn-danger">
      <input type="submit" formaction='report_by_dates' value="Report by Dates" class="btn btn-info">
    <% end %>
    <br>
  </div>
</div>
